@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-color: #FFE4C4; 
    }
</style>

<div class="text-center">
    <h1 class="display-4">MasterClass Make-up</h1>
    <h3>Bine ai venit!</h3>
    <p>
        
        Te invităm să participi la un Masterclass de Machiaj captivant și interactiv, unde vei avea oportunitatea să explorezi și să înveți secretele artei machiajului de la profesioniști cu experiență.<br/>
        <br />
        Despre Masterclass<br />

        🎨 Explorare Creativă: Descoperă tehnicile de machiaj inovatoare și tendințele actuale în arta machiajului.<br />

        💄 Transformare Personală: Învață cum să evidențiezi frumusețea naturală a feței tale și să obții un machiaj impecabil pentru orice ocazie.<br />

        👩‍🎨 Instruire Profesională: Participă la sesiuni de instruire susținute de experți în domeniu, cu o vastă experiență în machiajul de scenă, editorial și de frumusețe.<br />
    </p>
    <img src="poza1.png" alt="Masterclass Make-up" class="img-fluid" style="width: 300px; height: 300px;  />

</div>
</div>
